body {
    font-family: 'Arial', sans-serif;
    background-color: peachpuff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.results-container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.circle-progress-container {
    position: relative;
    margin-bottom: 20px;
}

.circle-progress {
    display: inline-block;
    margin: 10px;
}

.progress-ring__circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke: #82c6f7; /* Change this color to match your desired color */
}

.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: #333; /* Change this color as needed */
}


.average-display {
    font-size: 2em;
    margin: 20px 0;
}

#viewCalculatedGrades {
    background-color: #82c6f7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    outline: none;
}

#viewCalculatedGrades:hover {
    background-color: #6ba8e5;
}