body {
    font-family: 'Arial', sans-serif;
    background-color: peachpuff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.results-container {
    text-align: center;
    background-color: white;
    padding: 60px 20px;
    border-radius: 20px; /* More rounded edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%; /* Responsive width */
    max-width: 400px; /* Maximum width */

}

.header-container {
    margin-bottom: 20px;
}

.header-container h1 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 5px;
}

.header-container h2 {
    font-size: 1.2em;
    color: #5cb85c; /* Green color to indicate 'on track' */
    margin-bottom: 20px;
}

/* Progress circle */
.circle-progress-container {
    position: relative;
    margin-bottom: 20px;
}

.circle-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto; /* Centers in the container */
    width: 200px;
    height: 200px;
}

.progress-ring__background,
.progress-ring__circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: center;
}

.progress-ring__background {
    stroke: #eee;
}

.progress-ring__circle {
    stroke: #82c6f7; /* Blue foreground */
    stroke-width: 10;
}

/* Average percentage of the grade */
.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: #333;
}

/* Progress keys (left, current) */
.progress-keys {
    display: none; /* Hide these elements as they are not in UI 2 */
}


/* Modules and grades of the module section */
.module-breakdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    max-height: 300px;
    overflow-y: auto; /* Add vertical scroll */
    padding: 0 10px;
}

.module {
    padding: 10px;
    margin-bottom: 10px;
    width: calc(50% - 10px); /* Calculate width for 2 columns, minus gap *, allows for 2 module on each row */
    box-sizing: border-box; /* Border and padding are included in the width, allows for them to not only appear on the left side but also on the right side of the container*/
    text-align: center;
}

.module > div:first-child {
    margin-bottom: 5px; /* Space between module name and percentage */
}


/* View Calculated Grades Button */
.view-grades-btn button {
    background-color: #82c6f7;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    width: 80%;
    max-width: 200px;
}

.view-grades-btn button:hover {
    background-color: #6ba8e5;
}
