@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #F0C3C0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.form-container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  background-color: #7CBAF4;
  color: black;
  gap:12px;
  width: 25rem;
  border-radius: 10px;
  padding: 5em 2rem;
  box-shadow: 0px 0px 20px 0px black;
}

.login-title{
  font-size: 2rem;
  margin-bottom: 1rem; /* Reduced bottom margin */
  text-align: center; /* Centers the title */
  width: 100%;
}
input[type="text"],
input[type="password"] {
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-bottom: 12px; /* Spacing between input fields */
  padding: 15px;
  border-radius: 20px; /* Rounded corners like the reference image */
  width: calc(100% - 30px); /* Full width minus padding */
  font-size: 1.2rem;
}

.userName,.userPassword{
  text-align: center;
  border:1px solid black;
  margin: 1rem;
  padding: 10px;
  color: black;
  border-radius: 3rem;
  width: 15rem;
  font-size: 1.2rem;
  outline: none;
  transition: all .2s ease-in-out;
}

.userName:focus,.userPassword:focus{
  width:20rem;
  animation-name: colorChange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}


.loginBtn{
  background: transparent;
  border: 1px solid black;
  background-color: white;
  padding: 1rem 3rem;
  border-radius: 6rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

button.loginBtn{
  background-color: white;
  padding: 10px 20px; /* Adjust padding */
  border-radius: 20px; /* Match input fields' border-radius */
  border: none; /* No border */
  font-size: 1rem;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s ease-in-out;
  align-self: flex-end; /* Align the button to the right */
}

.loginBtn:hover{
    background-color: #6ba8e5; /* Darker shade when hovered */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    transform: translateY(-6px); /* Slightly lift the button */
}

