/* global */

body {
    background-color: #F0C3C0;
    margin: 0; /* remove any default margin set by the browser */
    min-height: 100vh; /* Changed to min-height so that */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0; /* Added this padding in the case that a user adds a bunch of modules increasing the height of the main-container div, this padding allows for there to always be space between the top of the window and bottom of the window*/
}